@media screen and (max-width: 767px) {
  .page {
    margin: 0 auto;
    padding: 0;
    max-width: 320px;
  }

  .header {
    margin: 0 auto;
    margin-bottom: 42px;
    padding: 0;
    max-width: 320px;
  }

  .header__logo {
    margin: 28px 0 31.6px 27px;
    padding: 0;
    width: 103.74px;
  }

  .profile {
    margin: 0 auto;
    padding: 0;
    width: 282px;
    justify-content: center;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
      "img"
      "p-i"
      "b-a";
    gap: 0;
  }

  .profile__avatar {
    margin: 0 auto 26px;
    padding: 0;
    justify-self: center;
  }

  .profile__info {
    margin: 0;
    padding: 0;
    justify-self: center;
  }

  .profile__title-button-wrapper {
    margin: 0;
    padding: 0;
    width: 282px;
  }

  .profile__title {
    margin: 0 0 14px 46px;
    padding: 0;
    text-align: end;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.6875rem;
    line-height: 2.0625rem;
    text-align: center;

    color: #fff;
  }

  .profile__subtitle {
    margin: 0 auto 36px;
    padding: 0;
    text-align: center;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.0625rem;
    text-align: center;

    color: #fff;
  }

  .profile__edit-button {
    margin: 0 0 14px 10px;
    padding: 0;
    width: 18px;
    height: 18px;
    background-size: 7.5px 7.5px;
  }

  .profile__add-button {
    margin: 0 auto 36px;
    padding: 0;
    width: 282px;
  }

  .elements {
    margin: 0 auto 48px;
    padding: 0;
    justify-content: center;
  }

  .elements__list {
    margin: 0 auto;
    padding: 0;
    max-width: 282px;
    max-height: fit-content;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas:
      "el"
      "el"
      "el"
      "el"
      "el"
      "el";
    gap: 10px;
  }

  .footer {
    margin: 0 auto;
    padding: 0;
    width: 282px;
  }

  .footer__copyright {
    margin: 0 0 36px;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .footer__copyright-link {
    margin: 0 0 0 16px;
    padding: 0;
  }

  .popup__container {
    margin: 0;
    padding: 0;
    width: 282px;
    
  }
  .popup__container-exit{
    margin: 0;
    padding: 0;
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    top: -32px;
    right: 0px;
  }
  .popup__container-title{
    margin: 25px auto 75px;
    padding: 0;
width: 238px;
    font-family: 'Inter';
font-style: normal;
font-weight: 900;
font-size: 1.125rem;
line-height: 1.375rem;
color: #000000;
  }
  .popup__edit-profile{
   margin: 0 auto 45px;
   padding: 0;
   width: 238px; 
  }
  .popup__edit-profile-input{
    margin: 0 auto 30px;
    padding: 0;
    width: 238px;
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 0.875rem;
line-height: 1.0625rem;

color: #000000;
  }
  .popup__container-save{
    margin: 0 auto 25px;
    padding: 0;
    max-width: 238px;
    max-height: 46px;
  }
}