@import url(./vendor/normalize.css);
@import url(./fonts/fonts.css);
@import url(./border.cssq);

.page {
    background-color: #000000;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0;
}
.header{
    margin: 0;
    padding: 0;
    margin: 45px auto 40px;
    border-bottom: 1px solid #545454;
    max-width: 880px;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}
.header__logo{
    margin: 0;
    padding: 0;
    max-width: 142px;
    margin-bottom: 41px;
}
.content{
    margin: 0;
    padding: 0;
}
.profile{
    margin: 0;
    padding: 0;
    max-width: 880px;
}
