.popup_opened-image {
    margin: 0;
    padding: 0; 
    background-image: linear-gradient(rgba(0, 0, 0, 90%), rgba(0, 0, 0, 90%)), url(#);
    flex-direction: column;

}

.popup_image-container {
    margin: 0;
    padding: 0;
    position: relative;
}

.popup__image {
    margin: 0;
    padding: 0;
    max-width: 75vw;
    max-height: 75vh;
    border-radius: 5px; /* так красиво не ругайся */
}
.popup__place-name{
    margin: 10px 0 0;
    padding: 0;
    position: absolute;
    bottom: -26px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
}

.element__delete{
    margin: 0;
    padding: 0;
    width: 18px;
    height: 19px;
    background-color: transparent;
    background-image: url(./images/main-pics/delete.svg);
    background-size: 18px 19px;
    border: none;
    outline: none;
    position: absolute;
    z-index: 2;
    top: 20px;
    right: 20px;
    transition: opacity .5s ease;
    cursor: pointer;
}
.element__delete:hover{
    opacity: .6;
  }