@media screen and (max-width: 1024px) {
  .page {
    margin: 0 auto;
    max-width: 768px;
  }
  .header {
    margin: 45px auto 41px;
    padding: 0;
    width: 581px;
  }
  .profile {
    margin: 0 auto 51px;
    padding: 0;
    max-width: 581px;
  }
  .profile__info {
    margin: 0;
    padding: 0;
    max-width: fit-content;
  }
  .profile__title {
    margin: 22px 0 16px;
    padding: 0;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.6875rem;
    line-height: 2.0625rem;
    text-align: center;

    color: #fff;
  }
  .profile__edit-button {
    margin: 10px 0 0 10px;
    padding: 0;
    width: 18px;
    height: 18px;
    background-size: 7.5px 7.5px;
  }
  .profile__subtitle {
    margin: 0;
    padding: 0;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.0625rem;
    text-align: center;

    color: #fff;
  }
  .elements__list {
    margin: 0;
    padding: 0;
    max-height: fit-content;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 282px);
    grid-template-rows: repeat(3, minmax(min-content, max-content));
    grid-template-areas:
      "el el"
      "el el"
      "el el";
  }
  .footer {
    margin: 0 auto 60px;
    padding: 0;
    max-width: 581px;
  }
}
